body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url('../images/phuquoc.jpg');
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg-admin {
    /* The image used */
    background-image: url('../images/gsinh.jpg');
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .abc {
    /* The image used */
    background-image: url('../images/gs.jpg');
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 500px;
    padding: 20px;
    background-color: #ff4d4d;
   
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 30px 0;
    border: none;
    background: white;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .btn_1 {
    
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  
  .btn:hover {
    opacity: 1;
  }
  .containerer {
    position: relative;
    text-align: center;
    color: black;
  }
.top-left {
    background-color: #f3e8f1;
    position: absolute;
    top: 8px;
    left: 16px;
  }  